* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color--text: #ffffff;
    --background--white: #1B1B1B;
    --background--container: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);

    
}

.theme_Light {
    --color--text: #000000;
    --background--white: aliceblue;
    --background--container: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.322) 100%);
}



.color_blue {
    color: #4036FF;
}

.container_center_main {
    width: 80vw;
    margin: auto;
    /* border: 1px solid red; */
}


@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}
#icon_bottom {
     animation: float 2s ease-in-out infinite;
}


@keyframes float_hand{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatex(-10px)
	}
}
#hand {
     animation: float_hand 2s ease-in-out infinite;
}
